@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #181b34;
}

.fc .fc-daygrid-day-frame {
  background-color: #292F4C;
}

.fc-theme-standard th {
  background-color: #292F4C;
}

.fc-col-header-cell-cushion {
  color: white;
}

.fc-toolbar-title {
  color: white;
}

.fc-today-button {
  text-transform: capitalize !important;
}